{{- $email := .email_home -}}
{{- if eq .chezmoi.hostname .work_hostname -}}
{{- $email = .email_work -}}
{{- end -}}

[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDyc2VwV8Fsuld2DkNHgVkR0R+RHNI4aQWAX1VYU2lsu
	name = Shane Padgett
	email = {{ $email }}
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
